/* Mobile devices */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background-color: #e4f1fe; 
}
header{
    background-color: #03203C;
    color: #e4f1fe;
    width: 100%;
    position: fixed;
    top: 0;
}
header h1{
    text-align: center;
    font-size: 2.3em;
    margin: 1em auto;
}
.main-content{
    width: 90%;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -45%; /* Negative half of height. */
    margin-left: -45%;
}

.main-content fieldset{
    /* width: 90%; */
    margin: 0 auto;
}
.main-content fieldset legend{
    font-size: 1.5em;
    text-align: center;
}

.main-content label{
    display:inline-block;
    width: 100%;
    margin-top: 1em;
    font-size: 1.25em;
}

.main-content input{
    margin-top: 0.25em;
    font-size: 1.25em;
}

.btn-container{
    width: 100%;
    text-align: center;
}

.main-content .btn{
    height: 2em;
    width: 50%;
    margin: 1em auto;
    background-color: #6bb9f0;
    border-radius: 7px;
}
footer{
    text-align: center;
    background-color: #03203C;
    color: #e4f1fe;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content{
    margin: 2em auto;
}


/* Desktops */